/* .container */
 .container {
    width: 200px;
    height: 200px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color:rgb(5, 84, 255);
    transition: width 3s, color 3s, transform 3s;
}
.container:hover {
    width: 300px;
    height: 300px;
    color: red;
    font-weight: 900;
    text-decoration: underline;
    background-color: gold;
    text-shadow: 2px 2px #8e8787;
    transform: rotate(180deg);
}

a {
    color: #fff;
}